.precomp
lib/.precomp
*.o *.a *.so *.so.* *.dll *.dylib *.exe
.DS_Store ._*
.idea/ .vscode/
*.swp *.swo *~
*.bak *.tmp *.old
*.log core *.core
Notcurses-Native-*
NUL
vendor/notcurses/build/
resources/lib/*.dylib
resources/lib/*.so
resources/lib/*.dll
